@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');

body {
    font-family: 'Cinzel', sans-serif;
    background-image: url("./Assets/pizza-background2.png");
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: cover;
    overflow: hidden;
}
